# API 서버
pip install bidict==0.22.1
pip install blinker==1.7.0
pip install cachelib==0.10.2
pip install certifi==2023.7.22
pip install charset-normalizer==3.3.2
pip install click==8.1.7
pip install Flask==3.0.0
pip install Flask-Session==0.5.0
pip install Flask-SocketIO==5.3.6
pip install h11==0.14.0
pip install idna==3.4
pip install importlib-metadata==6.8.0
pip install itsdangerous==2.1.2
pip install Jinja2==3.1.2
pip install MarkupSafe==2.1.3
pip install python-engineio==4.8.0
pip install python-socketio==5.10.0
pip install requests==2.31.0
pip install setuptools==58.0.4
pip install simple-websocket==1.0.0
pip install urllib3==2.1.0
pip install Werkzeug==3.0.1
pip install wsproto==1.2.0
pip install zipp==3.17.0

# 분석 서버
pip install pyautogui==0.9.54
pip install torch==2.1.1
pip install tensorflow==2.15.0
pip install openai==0.28.0
pip install keras==2.15.0
pip install keyboard==0.13.5
pip install huggingsound==0.1.6
pip install ffmpeg-python==0.2.0
pip install dlib==19.24.2
pip install speechbrain==0.5.15
pip install opencv-python==4.8.1.78
pip install moviepy==1.0.3
pip install face-recognition==1.3.0